@page {
    size: B5;
    @bottom-center {
        content: counter(page);
    }
}

div#cover h1 {
    break-before: unset;
}


div#cover {
    break-after:  page;
}

div#footnote {
    break-before: page;
}

div#footnote h1 {
    break-before: unset;
}


h1 {
    break-before: page;
}

h1,h2,h3 {
    font-family: SourceHanSansJP;
}

p {
    font-family: SourceHanSerifJP;
    font-size: 12px;
}

li {
    font-family: SourceHanSerifJP;
    font-size: 12px;
}

li code {
    font-family: RictyDimished;
    font-size: 11px;
}


p code {
    font-family: RictyDimished;
    font-size: 12px;
}

pre code {
    font-family: RictyDimished;
    font-size: 11px;
}

div.listing p {
    font-family: SourceHanSansJP;
    font-size: 11px;
    margin: 0; 
    padding: 0;
}

div.listing {
    margin: 0 0 0 1em;
    padding: 0.5em 1em;
    border-left: solid 2px #000000;
}

#TOC a::after {
    content: target-counter(attr(href), page);
    float: right;
}

#TOC ul li {
    font-family: SourceHanSansJP;
    font-size: 14px;
}

/* 中表紙用 */
#cover #title1 {
    font-family: SourceHanSansJP;
    font-size:9pt;
}
#cover #title2 {
    font-family: SourceHanSansJP;
    font-size:14.5pt;
}

#author p {
    font-family: SourceHanSansJP;
    font: size 12pt;
}

table#author {
    position: fixed;
    top: 800px;
    left: 400px;
}

@font-face {
    font-family: SourceHanSerifJP;
    src: url(SourceHanSerif-Regular.otf) format('opentype')
}

@font-face {
    font-family: SourceHanSansJP;
    src: url(SourceHanSans-Normal.otf) format('opentype')
}

@font-face {
    font-family: RictyDimished;
    src: url(RictyDiminished-Regular.ttf) format('truetype')
}


